# 제어문

##01.기초 연산자들

In [ ]:
a=3
b=4

In [ ]:
a>4

False

In [ ]:
b=[1,2,3,4]
a=3

In [ ]:
5 in b

False

In [ ]:
3 in b

True

In [ ]:
3 not in b

False

In [ ]:
5 not in b

True

In [ ]:
a=[1,2,3,4]
b=[1,2,3,4]
a is b

False

In [ ]:
a=[1,2,3,4]
b=a
a is b

True

In [ ]:
a=3
a+=1

In [ ]:
print(a)

4

##02.if문

In [ ]:
x=3
if x>0:
  print("양수입니다.")
elif x<0:
  print("음수입니다.")
else:
  print("0입니다.")

양수입니다.

##03.for문

In [ ]:
for i in [1,21,3,42]:
  print(i)

1
21
3
42

In [ ]:
#range(num) : 0에서부터 시작해서 1씩 증가해서 num 직전까지 증가하며 만들어진 순서열

for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

##04.whille문

In [ ]:
i=0
while i<100:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
if i>0:
  pass
else:
  print('2')

##05.실전 문제풀이

In [ ]:
i=1
sum = 0
while True:   # while 뒤에 True이면 무한 반복
  if i > 50:    # 종료하기 위해서는 break을 사용 sum+=i
    break   # 반복문 종료
  sum += i
  i += 1
print('합계 : ',sum)

합계 :  1275

In [ ]:
# continue는 아래 부분을 실행하지 않고 다음 반복문 실행
for i in range(10):
  print(i)
  if i > 4:
    continue
    # break 반복문 종료
  print('난 출력 되나')

0
난 출력 되나
1
난 출력 되나
2
난 출력 되나
3
난 출력 되나
4
난 출력 되나
5
6
7
8
9

In [ ]:
# while문을 사용하여 1부터 25사이의 짝수를 출력해 보세요
i = 1
while i <= 25:
  if i % 2 == 0:
    print(i)
  i += 1

2
4
6
8
10
12
14
16
18
20
22
24

In [ ]:
# 구구단 출력(가로)
for i in range(2,10):
  for j in range(1,10):     
    print(f"{i} * {j} = {i*j}",end='\t')
  print()
print()

2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [ ]:
for i in range(1, 10):
  for j in range(2, 10):
    print('{} * {} = {}'. format(j, i, i*j), end='\t')
  print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [ ]:
# 튜플
for i in (1, 2, 3):
  print(i)
sings = '안녕하세요'

# 문자열
for s in sings:
  print(s)

# list
li = [1, 2, 3]
for i in li:
  print(i)

1
2
3
안
녕
하
세
요
1
2
3

In [ ]:
li = [1,2,3,4,5]
# li데이터 하나씩 가져와서 3승하여 출력
for i in li:
  print('{} ** 3 = {}'.format(i,i**3))

1 ** 3 = 1
2 ** 3 = 8
3 ** 3 = 27
4 ** 3 = 64
5 ** 3 = 125

In [ ]:
# for문에 for가 있는 경우 중첩 for
for i in range(4):
  # i 가 0일 때 j가 0부터 3까지
  # i 가 1일 때 j가 0부터 3까지
  # i 가 2일 때 j가 0부터 3까지
  # i 가 3일 때 j가 0부터 3까지
  print('i = {}, '.format(i), end='')
  for j in range(4):
    print(j, end=' ')
  print()

i = 0, 0 1 2 3
i = 1, 0 1 2 3
i = 2, 0 1 2 3
i = 3, 0 1 2 3

In [ ]:
# 주사위를 두 번 던져서 나온 숫자들의 합이 4의 배수가 되는 경우
for i in range(1,7):  # 1 ~ 6 첫 번째 주사위
  for j in range(1,7):  # 1 ~ 6 두 번째 주사위
    k = i + j
    if k % 4 == 0:
      print('{} + {} = {}'.format(i, j, i+j))

1 + 3 = 4
2 + 2 = 4
2 + 6 = 8
3 + 1 = 4
3 + 5 = 8
4 + 4 = 8
5 + 3 = 8
6 + 2 = 8
6 + 6 = 12

In [ ]:
# 주사위 두 개를 던져서 나온 숫자의 합이 6이 되는 경우 출력
for i in range(1, 7):
  for j in range(1, 7):
    k = i + j
    if k == 6:
      print('{} + {} = {}'.format(i, j, i+j))

1 + 5 = 6
2 + 4 = 6
3 + 3 = 6
4 + 2 = 6
5 + 1 = 6

In [ ]:
print('수박 무게를 입력하세요.')
weight = int(input())
if weight > 10: result = 1
elif weight > 7: result = 2
elif weight > 4: result = 3
else: result = 4
print('수박은 {}등급입니다.'.format(result))

수박 무게를 입력하세요.
11
수박은 1등급입니다.

In [ ]:
week = input('요일의 첫자를 입력하세요')
if week == '월': result = 'Monday'
elif week == '화': result = 'Tuesday'
elif week == '수': result = 'Wendnesday'
elif week == '목': result = 'Thursday'
elif week == '금': result = 'Friday'
elif week == '토': result = 'Saturday'
elif week == '일': result = 'Sunday'
else: result = '에휴! 바보아냐~'
print(result)

요일의 첫자를 입력하세요dnjf
에휴! 바보아냐~

In [ ]:
print('아이디를 입력하세요 : ')
id = input()
password = input('암호를 입력하세요 : ')
if id == 'root' and password == 'system':
  print('로그인 성공')
elif id != 'root':
  print('넌 누구냐!!!')
else:
  print('암호를 모르네')

아이디를 입력하세요 :
root
암호를 입력하세요 : sdlf
암호를 모르네

In [ ]:
# while문을 사용하여 100이상의 자연수 중 가장 작은 23의 배수를 출력해 보세요.
i=100
while True:
  if i % 23 == 0:
    print('23의 배수 : ',i)
    break
  i += 1

23의 배수 :  115

In [ ]:
score = int(input('점수? '))
# if score > 60: message = '성공'
# else: message = '실패'
message = '성공' if score > 60 else '실패'
print(message)

점수? 70
성공

In [ ]:
sings = ['아이유', '뉴진스', 'Blxst', 'NCT Dream']
for i in range(len(sings)):
  if i == len(sings) - 1:
    print(sings[i])
  else:
    print(sings[i], end=', ')

아이유, 뉴진스, Blxst, NCT Dream

In [ ]:
numbers=[2, 3, 5, 7, 11, 13, 17, 19]
# 인덱스 값
for i in range(len(numbers)):
  print(i, numbers[i])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19

In [ ]:
a = 'Life is too short, you need python'
if 'wife' in a:
  print('wife')
elif 'python' in a and 'you' not in a:
  print('python')
elif 'shirt' not in a:
  print('need')
else:
  print('none')

need

In [ ]:
a = 'Life is too short, you need python'
'Life' in a

True

In [ ]:
a = ['L', 'i', 'f', 'e']
'Life' in a

False

In [ ]:
a = ['L', 'i', 'f', 'e']
['L', 'i'] in a

False

In [ ]:
# 1 - 1000 3의 배수 합
result = 0
i = 1
while i <= 1000:
  if i % 3 ==0:
    result += i
  i += 1
print('1000까지 3의 배수 합 : ',result)

1000까지 3의 배수 합 :  166833

In [ ]:
# 중첩 while
i = j = 0
while i < 5:
  while j < i +1:
    print('*', end='')
    j += 1
  i += 1  
  print()
  j = 0
# while로 처리 파이썬은 *를 그 갯수 만큼 반복
i = 0
while i < 5:
  i += 1
  print('*' * i)

*
**
***
****
*****
*
**
***
****
*****

In [ ]:
# for문을 사용하여 평균
a = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
for score in a:
  sum += score
print('평균 : ',sum/len(a))

평균 :  79.0

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
  if n % 2 == 1:
    result.append(n*2)
print(result)
# 내포 if가 True이면 앞에 문장 실행
result = [n * 2 for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10]
[2, 6, 10]

In [ ]:
for i in range(5):
  for j in range(5):
    print(j)
    break

0
0
0
0
0